/* =================================== */
/* ========= GENERAL STYLES ========== */
/* =================================== */

* {
  box-sizing: border-box;
  outline: 1px solid black;
}

:root {
  --primary-color: #424B54; /* Charcoal */ 
  --secondary-color: #8A817C; /* Battleship gray */
  --tertiary-color: #BCB8B1; /* Silver*/
  --quaternary-color: #F4F3EE; /* Isabelline */
  --quinary-color: #E20074; /* Mexican Pink */
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: var(--quaternary-color);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cousine", sans-serif;
}

li {
  list-style: none;
}

a,
a:link,
a:hover,
a:visited,
a:active
 {
  color: var(--quinary-color);
  text-decoration: none;
}

*::selection {
  background-color: var(--quinary-color);
}

/* ============================= */
/* =========== FONTS =========== */
/* ============================= */

@font-face {
  font-family: "open_sansbold";
  src: url("../fonts/opensans-bold-webfont.woff2") format("woff2"),
    url("../fonts/opensans-bold-webfont.woff") format("woff");
  font-style: bold;
}

@font-face {
  font-family: "open_sansbold_italic";
  src: url("../fonts/opensans-bolditalic-webfont.woff2") format("woff2"),
    url("../fonts/opensans-bolditalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "open_sansitalic";
  src: url("../fonts/opensans-italic-webfont.woff2") format("woff2"),
    url("../fonts/opensans-bolditalic-webfont.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: "open_sansregular";
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
    url("../fonts/opensans-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Cousine";
  src: url("../fonts/Cousine-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Cousine";
  src: url("../fonts/Cousine-Bold.ttf") format("truetype");
  font-weight: bold;
}

/* =================================== */
/* ========= SPECIFIC STYLES ========= */
/* =================================== */


/* ============================= */
/* ======= HEADER STYLES ======= */
/* ============================= */

.header {
  padding: 3rem 2rem;
  padding-top: 4rem;
  text-align: center;
  background-color: var(--tertiary-color);
  position: relative;
}

.heading-grp {
  font-size: 4rem;
}

.my-intro-heading {
  font-size: 1em;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));

}

.profession {
  font-size: 0.4em;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to left, var(--primary-color), var(--secondary-color));
}

.nav-link {
  padding: 0.25rem 0.5rem; 
  text-decoration: none;
}

.nav-link:link {
  color: var(--quinary-color);
  transition: color 0.6s;
}

.nav-link:visited {
  color: var(--quarternary-color);
}

.nav-link:hover {
  color: var(--quaternary-color);
  background-color:var(--quinary-color);
  border-radius: 5px;
}

.nav-link:active {
  color: currentColor;
  border-radius: 5px;
}

.nav-link:focus {
  background-color: var(--quaternary-color);
  outline-color: var(--quinary-color);
  border-radius: 5px;
}

.header-aside-hire {
  background-color: #e20074;
  border-radius: 0.31rem;
  color: #fff;
  padding: 0.5rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  outline: none;
}

.header-aside-hire.shake {
  animation: shake-animation 4.5s ease infinite;
  transform-origin: 50% 50%;
}



.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ============================= */
/* ======= MAIN STYLES ========= */
/* ============================= */

.main {
  padding: 1rem;
  max-width: 60ch;
  margin: 0 auto;
}

.main * + * {
  margin-top: 2.25rem;
}



.main-article {
  margin-top: 1.2em;
  border-top: 0.125rem solid #E20074;
  padding: 0 1.25rem;
}

.mail-link {
  text-decoration: none;
}

.experience-header {
  display: flex;
  flex-direction: column;
}

.article-heading {
  position: relative;
  left: -1rem;
}

.footer {
  margin-top: 3rem;
  background-color: var(--tertiary-color);
  padding: 2rem;
}

.footer-text {
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  font-size: 1.1rem;
  text-align: center;
  margin: 0;
}

footer .footer-link {
  color: var(--primary-color);
  line-height: 2em;
}

/* ============================= */
/* ======= MEDIA QUERIES ======= */
/* ============================= */

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
  .navigation {
    flex-direction: row;
    justify-content: center;
  }
  .nav-link + .nav-link {
    margin-left: 1rem;
  }
  .main {
    max-width: 80ch;
  }
  .main > * + * {
    margin-top: 8rem;
    line-height: 3rem;
  }
  .main > *:first-child {
    border-top: none;
  }
  .main-article {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
  }

  .main-article-content {
    margin-top: 4rem;
  }

  .main-article-heading {
    position: relative;
    left: -1rem;
  }

  .experience-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
  .header-aside-hire {
    position: fixed;
  }
}

@media print {
  .header-aside-hire {
    display: none;
  }
  .navigation {
    display: none;
  }
}

@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}