/* === GENERAL STYLES === */

* {
  box-sizing: border-box;
  /* outline: 1px solid black; */
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cousine", sans-serif;
}

li {
  list-style: none;
}

*::selection {
  background-color: #E20074
}

/* === FONTS === */
@font-face {
  font-family: "open_sansbold";
  src: url("../fonts/opensans-bold-webfont.woff2") format("woff2"),
    url("../fonts/opensans-bold-webfont.woff") format("woff");
  font-style: bold;
}

@font-face {
  font-family: "open_sansbold_italic";
  src: url("../fonts/opensans-bolditalic-webfont.woff2") format("woff2"),
    url("../fonts/opensans-bolditalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "open_sansitalic";
  src: url("../fonts/opensans-italic-webfont.woff2") format("woff2"),
    url("../fonts/opensans-bolditalic-webfont.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: "open_sansregular";
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
    url("../fonts/opensans-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Cousine";
  src: url("../fonts/Cousine-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Cousine";
  src: url("../fonts/Cousine-Bold.ttf") format("truetype");
  font-weight: bold;
}

/* === SPECIFIC STYLES === */

/* === HEADER STYLES === */
.header {
  padding: 3rem 2rem;
  text-align: center;
  background-color: #dddddd;
  position: relative;
}

.profession {
  font: normal bold 1.5rem "Cousine";
}

.profession::after {
  content: " 🆚 ";
}

.header-nav-link {
  display: inline-block;
  font-size: 1.2rem;
  margin: .93rem;
  text-decoration: none;
}

.header-nav-link:link {
  color: #e20074;
  transition: color 0.6s;
}

.header-nav-link:visited {
  color: #088696;
}

.header-nav-link:hover {
  color: #e3cb17;
}

.header-nav-link:active {
  color: currentColor;
}

.header-aside-hire{
  background-color: #e20074;
  border-radius: .31rem;
  color: #fff;
  padding: .5rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  outline: none;
}

/* === MAIN STYLES === */

.main {
  padding: 1rem;
  max-width: 55ch;
  margin: 0 auto;
}

.main * + * {
  margin-top: 2.25rem;
}

.main > *  {
  margin-top: 1.2em;
  border-top: .12rem solid #E20074;
  padding: 0 1.25rem;
}

.mail-link {
  text-decoration: none;
}

.experience-heading {
  display: inline-block;
  margin-right: .3rem;
}

.experience-subheading {
  display: inline-block;
}

.article-heading {
  position: relative;
  left: -1rem;
}

.aside-coffee{
  background-color: #e20074;
  border: none;    
  color: #fff;
  position:fixed;
  outline: none;
  border-radius: .37rem;
  padding: .37rem;
  bottom: 1rem;
  right: 1rem;
}